---
import Layout from "../layouts/Layout.astro";
import LoremIpsum from "../components/LoremIpsum.astro";

const title = "A propos";
---

<Layout title={title}>
  <div class="flex justify-center w-full">
    <section class="flex flex-col max-w-4xl w-full gap-12">
      <h1
        class="scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl"
      >
        {title}
      </h1>
      <LoremIpsum />
    </section>
  </div>
</Layout>
