---
import { getCollection } from "astro:content";
import Layout from '../layouts/Layout.astro';

const allPosts = await getCollection("blog");

const pageTitle = "Blog";
---

<Layout pageTitle={pageTitle}>
	{allPosts.map((post: any) => (
		<li>
			<a href={`/blog/${post.id}/`}>{post.data.title}</a>
		</li>
	))}
</Layout>
