---
import siteConfig from "../content/siteConfig.json";
import SiteLogo from "./SiteLogo.astro";
---

<footer class="pb-16 pt-24">
  <div class="grid grid-cols-2 gap-16 md:grid-cols-4">
    <div class="col-span-2 flex flex-col space-y-6">
      <SiteLogo />
      <p class="text-gray-500 text-xl">
        {siteConfig.description}
      </p>
    </div>
    <div>
      <div class="scroll-m-20 text-lg font-semibold tracking-tight">
        {"General"}
      </div>
      <ul class="mt-4 flex flex-col gap-4">
        <li>
          <a href="/" class="text-gray-500 rounded-md">
            {"Home"}
          </a>
        </li>
        <li>
          <a href="/blog" class="text-gray-500 rounded-md">
            {"Blog"}
          </a>
        </li>
        <li>
          <a
            href={siteConfig.socials.instagram}
            class="text-gray-500 rounded-md"
          >
            {"Instagram"}
          </a>
        </li>
      </ul>
    </div>
    <div>
      <div class="scroll-m-20 text-lg font-semibold tracking-tight">
        {"Légales"}
      </div>
      <ul class="mt-4 flex flex-col gap-4">
        <li>
          <a href="/mentions-legales" class="text-gray-500 rounded-md"
            >{"Mentions légales"}</a
          >
        </li>
        <li>
          <a
            href="/politique-de-confidentialite"
            class="text-gray-500 rounded-md"
          >
            {"Politique de Confidentialité"}
          </a>
        </li>
        <li>
          <a
            href="/conditions-generales-de-prestation-de-services"
            class="text-gray-500 rounded-md"
          >
            {"Conditions Générales de Prestation de Services"}
          </a>
        </li>
      </ul>
    </div>
  </div>
  <p class="text-gray-500 mt-8 text-sm">
    All rights reserved © MultilingoClub 2025
  </p>
</footer>
