---
import { siteConfig } from "../site.config";
---

<a
  href="/"
  class="ring-offset-background focus-visible:ring-ring mr-6 flex items-center space-x-2 rounded-md focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2"
>
  <span class="text-2xl font-bold">
    {siteConfig.title}
  </span>
</a>
