---
import type { CollectionEntry } from "astro:content";
import Prose from "../components/Prose.astro";
import Layout from "./Layout.astro";

type Props = {
  frontmatter: CollectionEntry<"page">["data"];
};

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
  <div class="flex justify-center w-full">
    <section class="flex flex-col max-w-4xl w-full gap-12">
      <h1
        class="scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl"
      >
        {frontmatter.title}
      </h1>
      <article class="mt-4">
        <Prose>
          <slot />
        </Prose>
      </article>
    </section>
  </div>
</Layout>
