---
import Layout from "./Layout.astro";

const { frontmatter } = Astro.props;
---

<Layout pageTitle={frontmatter.title}>
	<p>Published on: {frontmatter.date.toLocaleDateString()}</p>
	<p><em>{frontmatter.description}</em></p>
	<slot />
</Layout>
